{% extends 'base.html' %}

{% block title %} 
Tag Details
{% endblock %}

{% block content %}
<h1>{{tag.name}}</h1>

    <ul>
        {% for post in tag.posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

<form action="">
    <button class="btn btn-primary btn-sm" formaction="/tags/{{tag.id}}/edit">Edit</button>
    <button class="btn btn-danger btn-sm" formaction="/tags/{{tag.id}}/delete" formmethod="post">Delete</button>
    <button class="btn btn-secondary btn-sm" formaction="/tags">All Tags</button>
</form>
{% endblock %}